
.languageButtons {
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 100;

    background: #f7941e;
    color: white;
    text-align: center;
    cursor: pointer;

    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;


    font-size: 2.5em;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    padding: 0.5em;
}

@media (max-width: 1600px) {
    .languageButtons {
        position: absolute;
    }
}
@media (max-width: 766px) {
    .languageButtons {
        top: 0.2em;
        left: 0.2em;
        font-size: 2em;
    }
}

.languageButtons a {
    background: #f7941e;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
}


.languageButtons:hover, .languageButtons:active {
    background-color: #e78108;
    border-color: #da7a08;
}
.languageButtons:hover a, .languageButtons:active a {
    background-color: #e78108;
    border-color: #da7a08;
}