
.largeButton {
    z-index: 1000;

    background: #f7941e;
    color: white;
    text-align: center;
    cursor: pointer;

    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;

    font-size: 1.5em;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    padding: 0.5em;
}

.largeButton a {
    background: #f7941e;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
}


.largeButton:hover, .largeButton:active {
    background-color: #e78108;
    border-color: #da7a08;
}
.largeButton:hover a, .largeButton:active a {
    background-color: #e78108;
    border-color: #da7a08;
}